<!DOCTYPE html>
<html>
    <head>
        <title>Gradients</title>
    </head>
    <body>
        <h1>Gradient Generator</h1>
        <a href="/">back</a>

        <form action="/gradientSubmit" method="POST">
            <div id="rectangle" style="width:30%; height:30px; background-image:linear-gradient(to right, <%=fromColour%>, <%=toColour%>)"></div>
            <input type="number" id="numBlocks" name="numBlocks" value=<%=numBlocks ? numBlocks : "3"%> min="3" max="30" />
            <input type="color" id="fromColour" name="fromColour" value=<%=fromColour ? fromColour : "#ff0000"%> required>
            <input type="color" id="toColour" name="toColour" value=<%=toColour ? toColour : "#ffffff"%> required>
            <button type="submit">Submit</button>
        </form>

        <% if (numBlocks) { %>
            <p>You chose <%= fromColour %> and <%= toColour %> with a length of <%= numBlocks %></p>
        <% } %>

        <% if (textures) { %>
            <% for (var i = 0; i < textures.length; i++) { %>
                <img src="<%= textures[i] %>" alt="texture" width="150px" style="image-rendering: crisp-edges;">
            <% } %>
        <% } %>
    </body>
</html> 

